.post-preview {
    max-width: 600px;
    width: 600px;
    list-style-type: none;
    border: 1px solid $clr4;
    margin-bottom: 30px;
    background-color: white;

    .top-section {
        padding: 10px 20px 10px 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .post-menu {
            cursor: pointer;
            font-size: rem(20px);
        }

        .profile-pic {
            border-radius: rem(1000px);
            width: 30px;
            height: 30px;
            object-fit: contain;
            margin: 6px;
        }

    }

    .action-bar {
        display: flex;
        justify-content: space-between;
        padding:10px 12px 0 7px;
    }

    .left-side-actions {
        display: inline-block;

    }

    .right-side-actions {
        display: inline-block;
    }
}

.bottom-section {
    font-size: rem(14px);
    padding:0 20px 10px 15px;
    

    .post-desc {
        .creator-name {
            font-weight: bold;
        }
    }

    .like-count {
        font-weight: bold;
    }

    ul {
        list-style-type: none;
        padding: 0;
         margin: 0; 
    }
}

.user-and-pic {
    display: flex;
    align-items: center;
}

.post-section-btn:hover {
    cursor: pointer;
    color: #3897f0;
}

.image-post {
max-height: 650px;
object-fit: cover;
} 

.creator-name {
    font-size: rem(14px);
    font-weight: bold;
}

.view-comments {
    color: #999999;
}

.add-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid $clr4;
    padding: 20px 12px 20px 15px;
    
    .form-input{
        border: none;
        padding-right: 40%;
        font-size: rem(15px);
    }
    
    .post-section-btn{
        font-weight: bold;
        color: #c6e0fa;  
        font-size: rem(15px);
    }
}

