.profile {
    margin-top: rem(80px);

    .profile-pic {
        height: rem(150px);
        width: rem(150px);
        object-fit: cover;
        margin-right: rem(100px);
        border-radius: rem(100px);
    }

    .profile-userName {
        font-size: rem(30px);
        margin-top: rem(5px);
    }

    .user-deatils-wide-display {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: rem(300px);

        .deatails {
            font-weight: bold;
            margin-right: rem(5px);
        }
    }

    button{
        padding: 0px;
    }
}

.deatils-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.user-deatils-narrow-display {
    display: none;
}

.full-name {
    font-weight: bold;
}

.show-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    border-top: 1px solid $clr4;
    margin: rem(20px);

    >span {
        margin: 0 20px 0 20px;
    }
}

.modal-menu {
    cursor: pointer;
    font-size: rem(20px);
    display: flex;
    align-items: center;
}

.top-user-deatils {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.posts-container {
    display: grid;
    grid-template-columns: auto auto auto;
    // grid-template-rows: auto auto auto;
    grid-auto-rows: rem(350px);
    grid-column-gap: rem(20px);
    grid-row-gap: rem(20px);
    justify-content: center;
    flex-direction: row;
    margin: 0 50px 0 50px;

    img {
        object-fit: cover;
        width: 100%;
        max-width: rem(300px);
        height: 100%;
        cursor: pointer;
    }


}

.options-menu {
    display: none;
}

button.settings-btn {
    background-color: none;
    background-color: #fafafa;
    cursor: pointer;
    padding: none;

    img {
        width: rem(32px);
    }
}