* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

html {
    font-family: Segoe UI, sans-serif;
    line-height: 1.6;
    background-color: #fafafa;
    height: 100vh;
}

body {
    margin: 0;
}

textarea, select, input, button { outline: none;}

button {border: none; background-color: none; }

ul { list-style-type: none; }
  